.services__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-items: center;
  align-items: center;
}

.services__card {
  width: 300px;
  height: 550px;
  text-align: center;
  padding: 1rem;
  border-radius: var(--border-radius);
  background-color: var(--container-color);
  transition: all 0.3s ease-in-out;
}

.services__card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
}

.services__card h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.services__card p {
  font-size: 0.875rem;
  color: #fff;
}

.services__card:nth-child(1) {
  background-color: rgb(255, 110, 197);
  box-shadow: 0px 5px 20px 0px rgba(255, 110, 197);
}

.services__card:nth-child(2) {
  background-color: rgb(80, 233, 244);
  box-shadow: 0px 5px 20px 0px rgba(80, 233, 244);
}

.services__card:nth-child(3) {
  background-color: rgb(255, 110, 197);
  box-shadow: 0px 5px 20px 0px rgba(255, 110, 197);
}

.services__title {
  color: #fff;
}

.services__description {
  color: #f8f9fa;
}

.services_card:nth-child(2) .services_title {
  color: rgb(7, 7, 7);
}

.services_card:nth-child(2) .services_description {
  color: rgb(7, 7, 7);
}
